extends layout

block content
  div#index
    if (user)
      div
        h1 WELCOME BACK #{user.username}
        a(href="/log-out") LOG OUT
        if (user.membership_status === false)
          p
            a(href='/join_club') Join club
        else if (user.membership_status === true)
          p We're glad to see you again in our club, honarable #{user.username}!
        if (user.admin === false)
          p
            a(href='/is_admin') Become admin
        else 
          p You logged in as admin
        a(href='/new_message') Write a message
    else 
      div
        h1 please log in
        form.user_form(action='/log-in' method='POST')
          label(for='username') Username
          input(name='username' placeholder='username' type='text')
          label(for='password') Password
          input(name='password' type='password')
          button Log In
          p
            a(href='/sign-up') Sign up
    if (messages)
      div#messages
        each message in messages 
          div.message 
            if (user && (user.membership_status === true || user.admin === true))
              div.message_header
                span=message.author.username 
                span=message.timestamp_formatted
            p.title Title: #{message.title} 
            p=message.text
            if (currentUser && currentUser.admin === true)
              a(href=`/delete/${message._id}`) Delete message